@CHARSET "ISO-8859-1";
table {
	border : solid;
	background-color: silver;
	width: 8cm;
	height: 5cm; 
	
	position:absolute;
	left: 3cm;
	top: 1cm;
}
tr{
	height:8mm;
}
input [type="text"]{
	width: 10cm;
	height: 6mm;
	background-color: lime;
}